@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Itim&family=Kaushan+Script&family=Sansita+Swashed:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer {
  :root {
    --theme-0: 210 20% 99%;
    --theme-50: 210 17% 96%;
    --theme-100: 210 16% 93%;
    --theme-200: 210 14% 89%;
    --theme-300: 210 14% 83%;
    --theme-400: 210 11% 71%;
    --theme-500: 208 7% 46%;
    --theme-600: 210 9% 31%;
    --theme-700: 210 10% 25%;
    --theme-800: 210 11% 15%;
    --theme-900: 210 15% 10%;
    --theme-950: 210 15% 5%;

    --accent-50: 183 100% 96%;
    --accent-100: 185 96% 90%;
    --accent-200: 186 94% 82%;
    --accent-300: 187 92% 69%;
    --accent-400: 188 86% 53%;
    --accent-500: 189 94% 43%;
    --accent-600: 192 91% 36%;
    --accent-700: 193 82% 31%;
    --accent-800: 194 70% 27%;
    --accent-900: 196 64% 24%;
    --accent-950: 197 79% 15%;
  }
}

* {
  margin: 0;
  padding: 0;
}

html,
body,
#root,
.app {
  width: 100%;
  height: 100vh;
  @apply bg-theme-50 dark:bg-theme-900;
}
